<a href="https://colab.research.google.com/github/Sugina99/Deep_Learning_Studies/blob/main/My_Churn_ModellingANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install tensorflow.gpu

In [ ]:
import tensorflow as tf
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
print(tf.__version__)

2.8.2

In [ ]:
# loading libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# dataset
data=pd.read_csv("/content/drive/MyDrive/LibrariesForAI/Deep_learning/ANN/Churn_Modelling/Churn_Modelling.csv")

In [ ]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
X=data.iloc[:,3:13]
y=data.iloc[:,13]

In [ ]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [ ]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [ ]:
# create dummy variables
# OneHot Encoding
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X["Gender"],drop_first=True)

In [ ]:
 X=pd.concat([X,geography,gender],axis=1)

In [ ]:
X.drop(['Geography','Gender'],axis=1,inplace=True)

In [ ]:
# Splitting to X_train,X_test,y_train and y_test
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [ ]:
# Scaling down
sc=StandardScaler()
X_train_scaled=sc.fit_transform(X_train)
X_test_scaled=sc.transform(X_test)

In [ ]:
# Artificial Nueral Network
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import ReLU,LeakyReLU
from tensorflow.keras.layers import Dropout

In [ ]:
# initialising
classifier=Sequential()

In [ ]:
# Adding the input layer
classifier.add(Dense(units=11,activation="relu"))

In [ ]:
# Creating hidden layers 1
classifier.add(Dense(units=6,activation="relu"))

In [ ]:
# Creating hidden layers 2
classifier.add(Dense(units=4,activation="relu"))

In [ ]:
# Creating output layers 
classifier.add(Dense(units=1,activation="sigmoid"))

In [ ]:
# Creating hidden layers 1
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
# Model_fitting
model_history=classifier.fit(X_train_scaled,y_train,validation_split=0.33,batch_size=10,epochs=100)

Epoch 1/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3342 - accuracy: 0.8597 - val_loss: 0.3454 - val_accuracy: 0.8614
Epoch 2/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3337 - accuracy: 0.8640 - val_loss: 0.3457 - val_accuracy: 0.8580
Epoch 3/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3329 - accuracy: 0.8627 - val_loss: 0.3457 - val_accuracy: 0.8629
Epoch 4/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3326 - accuracy: 0.8630 - val_loss: 0.3460 - val_accuracy: 0.8610
Epoch 5/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3313 - accuracy: 0.8664 - val_loss: 0.3502 - val_accuracy: 0.8588
Epoch 6/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3323 - accuracy: 0.8625 - val_loss: 0.3442 - val_accuracy: 0.8633
Epoch 7/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3306 - accuracy: 0.8656 - val_loss: 0.3429 - val_accuracy: 0.8610
Epoch 8/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3300 - accuracy: 0.8638 - val_loss: 0.3429 - val_accuracy: 0.8618
Epoch 9/100
536/536 [==============================] - 4s 8ms/step - loss: 0.3304 - accuracy: 0.8645 - val_loss: 0.3424 - val_accuracy: 0.8641
Epoch 10/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3293 - accuracy: 0.8656 - val_loss: 0.3414 - val_accuracy: 0.8626
Epoch 11/100
536/536 [==============================] - 4s 8ms/step - loss: 0.3293 - accuracy: 0.8623 - val_loss: 0.3436 - val_accuracy: 0.8599
Epoch 12/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3285 - accuracy: 0.8630 - val_loss: 0.3438 - val_accuracy: 0.8614
Epoch 13/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3282 - accuracy: 0.8643 - val_loss: 0.3452 - val_accuracy: 0.8588
Epoch 14/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3276 - accuracy: 0.8628 - val_loss: 0.3448 - val_accuracy: 0.8591
Epoch 15/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3265 - accuracy: 0.8643 - val_loss: 0.3465 - val_accuracy: 0.8584
Epoch 16/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3272 - accuracy: 0.8651 - val_loss: 0.3415 - val_accuracy: 0.8644
Epoch 17/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3265 - accuracy: 0.8696 - val_loss: 0.3431 - val_accuracy: 0.8633
Epoch 18/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3266 - accuracy: 0.8658 - val_loss: 0.3460 - val_accuracy: 0.8591
Epoch 19/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3270 - accuracy: 0.8656 - val_loss: 0.3452 - val_accuracy: 0.8607
Epoch 20/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3269 - accuracy: 0.8619 - val_loss: 0.3415 - val_accuracy: 0.8633
Epoch 21/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3256 - accuracy: 0.8666 - val_loss: 0.3442 - val_accuracy: 0.8588
Epoch 22/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3253 - accuracy: 0.8662 - val_loss: 0.3426 - val_accuracy: 0.8622
Epoch 23/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3256 - accuracy: 0.8670 - val_loss: 0.3412 - val_accuracy: 0.8626
Epoch 24/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3256 - accuracy: 0.8675 - val_loss: 0.3436 - val_accuracy: 0.8618
Epoch 25/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3235 - accuracy: 0.8632 - val_loss: 0.3442 - val_accuracy: 0.8614
Epoch 26/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3236 - accuracy: 0.8662 - val_loss: 0.3411 - val_accuracy: 0.8610
Epoch 27/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3229 - accuracy: 0.8664 - val_loss: 0.3467 - val_accuracy: 0.8573
Epoch 28/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3226 - accuracy: 0.8668 - val_loss: 0.3423 - val_accuracy: 0.8607
Epoch 29/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3226 - accuracy: 0.8655 - val_loss: 0.3432 - val_accuracy: 0.8641
Epoch 30/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3230 - accuracy: 0.8671 - val_loss: 0.3435 - val_accuracy: 0.8550
Epoch 31/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3224 - accuracy: 0.8679 - val_loss: 0.3412 - val_accuracy: 0.8618
Epoch 32/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3213 - accuracy: 0.8660 - val_loss: 0.3437 - val_accuracy: 0.8626
Epoch 33/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3209 - accuracy: 0.8668 - val_loss: 0.3429 - val_accuracy: 0.8614
Epoch 34/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3213 - accuracy: 0.8655 - val_loss: 0.3411 - val_accuracy: 0.8629
Epoch 35/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3212 - accuracy: 0.8660 - val_loss: 0.3420 - val_accuracy: 0.8610
Epoch 36/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3207 - accuracy: 0.8684 - val_loss: 0.3414 - val_accuracy: 0.8626
Epoch 37/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3200 - accuracy: 0.8668 - val_loss: 0.3423 - val_accuracy: 0.8573
Epoch 38/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3205 - accuracy: 0.8660 - val_loss: 0.3458 - val_accuracy: 0.8618
Epoch 39/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3205 - accuracy: 0.8677 - val_loss: 0.3402 - val_accuracy: 0.8622
Epoch 40/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3196 - accuracy: 0.8670 - val_loss: 0.3451 - val_accuracy: 0.8588
Epoch 41/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3188 - accuracy: 0.8660 - val_loss: 0.3474 - val_accuracy: 0.8595
Epoch 42/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3192 - accuracy: 0.8673 - val_loss: 0.3473 - val_accuracy: 0.8591
Epoch 43/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3188 - accuracy: 0.8677 - val_loss: 0.3411 - val_accuracy: 0.8614
Epoch 44/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3183 - accuracy: 0.8662 - val_loss: 0.3421 - val_accuracy: 0.8580
Epoch 45/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3187 - accuracy: 0.8696 - val_loss: 0.3412 - val_accuracy: 0.8607
Epoch 46/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3180 - accuracy: 0.8692 - val_loss: 0.3403 - val_accuracy: 0.8603
Epoch 47/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3177 - accuracy: 0.8679 - val_loss: 0.3435 - val_accuracy: 0.8588
Epoch 48/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3179 - accuracy: 0.8683 - val_loss: 0.3415 - val_accuracy: 0.8603
Epoch 49/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3174 - accuracy: 0.8677 - val_loss: 0.3459 - val_accuracy: 0.8599
Epoch 50/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3176 - accuracy: 0.8673 - val_loss: 0.3429 - val_accuracy: 0.8618
Epoch 51/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3173 - accuracy: 0.8705 - val_loss: 0.3405 - val_accuracy: 0.8603
Epoch 52/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3158 - accuracy: 0.8701 - val_loss: 0.3423 - val_accuracy: 0.8576
Epoch 53/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3164 - accuracy: 0.8698 - val_loss: 0.3431 - val_accuracy: 0.8591
Epoch 54/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3158 - accuracy: 0.8684 - val_loss: 0.3453 - val_accuracy: 0.8569
Epoch 55/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3162 - accuracy: 0.8677 - val_loss: 0.3403 - val_accuracy: 0.8591
Epoch 56/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3154 - accuracy: 0.8694 - val_loss: 0.3422 - val_accuracy: 0.8580
Epoch 57/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3156 - accuracy: 0.8681 - val_loss: 0.3455 - val_accuracy: 0.8576
Epoch 58/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3154 - accuracy: 0.8683 - val_loss: 0.3410 - val_accuracy: 0.8569
Epoch 59/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3145 - accuracy: 0.8677 - val_loss: 0.3456 - val_accuracy: 0.8588
Epoch 60/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3144 - accuracy: 0.8679 - val_loss: 0.3418 - val_accuracy: 0.8614
Epoch 61/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3143 - accuracy: 0.8698 - val_loss: 0.3405 - val_accuracy: 0.8614
Epoch 62/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3143 - accuracy: 0.8677 - val_loss: 0.3433 - val_accuracy: 0.8603
Epoch 63/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3148 - accuracy: 0.8666 - val_loss: 0.3401 - val_accuracy: 0.8591
Epoch 64/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3137 - accuracy: 0.8688 - val_loss: 0.3465 - val_accuracy: 0.8607
Epoch 65/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3146 - accuracy: 0.8684 - val_loss: 0.3459 - val_accuracy: 0.8603
Epoch 66/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3128 - accuracy: 0.8683 - val_loss: 0.3435 - val_accuracy: 0.8591
Epoch 67/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3130 - accuracy: 0.8673 - val_loss: 0.3444 - val_accuracy: 0.8599
Epoch 68/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3128 - accuracy: 0.8677 - val_loss: 0.3495 - val_accuracy: 0.8550
Epoch 69/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3138 - accuracy: 0.8703 - val_loss: 0.3408 - val_accuracy: 0.8599
Epoch 70/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3131 - accuracy: 0.8688 - val_loss: 0.3423 - val_accuracy: 0.8603
Epoch 71/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3132 - accuracy: 0.8683 - val_loss: 0.3478 - val_accuracy: 0.8614
Epoch 72/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3125 - accuracy: 0.8699 - val_loss: 0.3405 - val_accuracy: 0.8610
Epoch 73/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3129 - accuracy: 0.8690 - val_loss: 0.3411 - val_accuracy: 0.8626
Epoch 74/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3118 - accuracy: 0.8671 - val_loss: 0.3435 - val_accuracy: 0.8626
Epoch 75/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3121 - accuracy: 0.8684 - val_loss: 0.3445 - val_accuracy: 0.8588
Epoch 76/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3109 - accuracy: 0.8714 - val_loss: 0.3441 - val_accuracy: 0.8622
Epoch 77/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3130 - accuracy: 0.8679 - val_loss: 0.3420 - val_accuracy: 0.8626
Epoch 78/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3110 - accuracy: 0.8718 - val_loss: 0.3404 - val_accuracy: 0.8641
Epoch 79/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3118 - accuracy: 0.8707 - val_loss: 0.3405 - val_accuracy: 0.8614
Epoch 80/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3115 - accuracy: 0.8690 - val_loss: 0.3415 - val_accuracy: 0.8633
Epoch 81/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3113 - accuracy: 0.8675 - val_loss: 0.3465 - val_accuracy: 0.8565
Epoch 82/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3114 - accuracy: 0.8686 - val_loss: 0.3439 - val_accuracy: 0.8618
Epoch 83/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3106 - accuracy: 0.8696 - val_loss: 0.3399 - val_accuracy: 0.8626
Epoch 84/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3116 - accuracy: 0.8688 - val_loss: 0.3400 - val_accuracy: 0.8626
Epoch 85/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3103 - accuracy: 0.8718 - val_loss: 0.3419 - val_accuracy: 0.8641
Epoch 86/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3105 - accuracy: 0.8703 - val_loss: 0.3448 - val_accuracy: 0.8626
Epoch 87/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3100 - accuracy: 0.8698 - val_loss: 0.3433 - val_accuracy: 0.8599
Epoch 88/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3107 - accuracy: 0.8679 - val_loss: 0.3421 - val_accuracy: 0.8614
Epoch 89/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3105 - accuracy: 0.8694 - val_loss: 0.3422 - val_accuracy: 0.8644
Epoch 90/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3099 - accuracy: 0.8694 - val_loss: 0.3429 - val_accuracy: 0.8648
Epoch 91/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3102 - accuracy: 0.8690 - val_loss: 0.3415 - val_accuracy: 0.8629
Epoch 92/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3099 - accuracy: 0.8692 - val_loss: 0.3478 - val_accuracy: 0.8603
Epoch 93/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3097 - accuracy: 0.8696 - val_loss: 0.3426 - val_accuracy: 0.8644
Epoch 94/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3092 - accuracy: 0.8699 - val_loss: 0.3466 - val_accuracy: 0.8622
Epoch 95/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3103 - accuracy: 0.8673 - val_loss: 0.3456 - val_accuracy: 0.8626
Epoch 96/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3091 - accuracy: 0.8686 - val_loss: 0.3461 - val_accuracy: 0.8629
Epoch 97/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3092 - accuracy: 0.8679 - val_loss: 0.3475 - val_accuracy: 0.8595
Epoch 98/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3092 - accuracy: 0.8701 - val_loss: 0.3452 - val_accuracy: 0.8629
Epoch 99/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3100 - accuracy: 0.8724 - val_loss: 0.3399 - val_accuracy: 0.8637
Epoch 100/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3098 - accuracy: 0.8683 - val_loss: 0.3423 - val_accuracy: 0.8648